<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
 <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="bin"/>
      </assemblyBinding>
	</runtime>

	<appSettings>
    <add key="LogSeverity" value="Debug" />
    <add key="AppNickName" value="BLL_TEST" />
		<add key="RbrRoot" value="C:\SvnRepo\Trunk\Rbr\Trunk\Build\Release" />
	</appSettings>
	<system.diagnostics>
		<switches>
			<!-- to debug XmlSerialization -->
			<add name="XmlSerialization.Compilation" value="1" />
		</switches>
	</system.diagnostics>
</configuration>