<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AppNickName" value="Rbr" />
		<!--add key="RbrRoot" value="C:\Timok\Rbr\Release" /-->
		<add key="RbrRoot" value="C:\SvnRepo\Trunk\Rbr\Trunk\RbrWinService\bin\Debug" />
		<!-- Activation Report Settings -->
    <add key="ActivationReportEnabled" value="false" />
    <add key="CingularAcctId" value="10000" />
    <add key="ActivePINsFilePath" value="C:\Timok\Rbr\PinActivationReport\ActivatedPINs\cingular_activated_pins.txt" />
    <add key="FtpFolder" value="C:\Timok\Rbr\Ftp\CdrExport\" />
    <add key="ConnectionString" value="Data Source=.\TRBR;Integrated Security=SSPI;Initial Catalog=RbrDb_269" />
  </appSettings>
</configuration>