/*
   Saturday, April 14, 200711:07:25 AM
   User: 
   Server: OGSTERDT\TRBR
   Database: RbrDb_266
   Application: 
*/

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.AccessNumberList ADD
	script_type int default '0' NOT NULL
GO
COMMIT
