--SELECT * FROM [RbrDb_267].[dbo].[CustomerAcct]
--  where [RbrDb_267].[dbo].[CustomerAcct].[routing_plan_id] in (63,67,68,101,74,102,112,113,19,21,48,57,94,65,30,34,51,53,76,103,61,90,70,109,66,85,80,81,82,7,84,9,10,86,12,14,15,91,93,27,28,95,31,33,96,40,45,49,54,55,56,59,60,62)

--SELECT * FROM [RbrDb_267].[dbo].[Service]
--   WHERE [default_routing_plan_id] in (63,67,68,101,74,102,112,113,19,21,48,57,94,65,30,34,51,53,76,103,61,90,70,109,66,85,80,81,82,7,84,9,10,86,12,14,15,91,93,27,28,95,31,33,96,40,45,49,54,55,56,59,60,62)


UPDATE [RbrDb_267].[dbo].[Service]
   SET [default_routing_plan_id] = 1
   WHERE [default_routing_plan_id] in (63,67,68,101,74,102,112,113,19,21,48,57,94,65,30,34,51,53,76,103,61,90,70,109,66,85,80,81,82,7,84,9,10,86,12,14,15,91,93,27,28,95,31,33,96,40,45,49,54,55,56,59,60,62)

--SELECT * FROM [RbrDb_267].[dbo].[CustomerAcct]
--   WHERE [routing_plan_id] in (63,67,68,101,74,102,112,113,19,21,48,57,94,65,30,34,51,53,76,103,61,90,70,109,66,85,80,81,82,7,84,9,10,86,12,14,15,91,93,27,28,95,31,33,96,40,45,49,54,55,56,59,60,62)


UPDATE [RbrDb_267].[dbo].[CustomerAcct]
   SET [routing_plan_id] = 1
   WHERE [routing_plan_id] in (63,67,68,101,74,102,112,113,19,21,48,57,94,65,30,34,51,53,76,103,61,90,70,109,66,85,80,81,82,7,84,9,10,86,12,14,15,91,93,27,28,95,31,33,96,40,45,49,54,55,56,59,60,62)

DELETE FROM [RbrDb_267].[dbo].[RoutingPlan]
  where [RbrDb_267].[dbo].[RoutingPlan].[routing_plan_id] in (63,67,68,101,74,102,112,113,19,21,48,57,94,65,30,34,51,53,76,103,61,90,70,109,66,85,80,81,82,7,84,9,10,86,12,14,15,91,93,27,28,95,31,33,96,40,45,49,54,55,56,59,60,62)