<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <probing privatePath="bin"/>
      </assemblyBinding>
	</runtime>
	<appSettings>
		<add key="AppNickName" value="Rbr" />
		<add key="RbrRoot" value="C:\SvnRepo\Trunk\Rbr\Trunk\Build\Release" />
		<!-- IN DEPLOYMENT ENV:
		<add key="RbrRoot" value="C:\Timok\Rbr\v2.59.1.0" />
		-->
  </appSettings>
</configuration>
