<?xml version="1.0" encoding="utf-8"?>
<configuration> 

	<appSettings>
		<add key="Owner" value="Mundetel"/>
		<add key="NodeRole" value="H323"/>
		<add key="HostIP" value="192.168.1.2" />
		<add key="MediaIP" value="192.168.1.2" />
		<add key="ArchiveDrive" value="C:\"/>
		<add key="AggregateDaysToKeep" value="31"/>
		<add key="CdrAggrDaysToKeep" value="15"/>
		<add key="SingleCallingPlan" value="false" />
    <add key="ShowSharedServices" value="True" />
		<add key="LogSeverity" value="Debug" />
    <add key="AmountFormat" value="0.00000000" />
    <add key="DisplayAmountFormat" value="0.00" />
    <add key="DefaultIntlDialCode" value="011" />
    <add key="LogCdrToFile" value="true" />
    <add key="CDRFileRecyclePeriod" value="5" />
    <add key="CdrAggrExportFrequency" value="5" />
    <add key="CDRExportDelimeterChar" value="Comma" />
		<add key="CDRExportFormat" value="Default" />
		<add key="MaxRecordingTime" value="60000" />
		<add key="PerCallTimeLimit" value="32000" />
		<add key="GlobalCPSLimit" value="75" />
		<add key="WithNumberPortability" value="True" />
		<add key="NumberPortabilityDialCode" value="55" />
		<add key="NumberOfAuthenticationRetries" value="2" />
	</appSettings>

	<ivrSettings>
		<add key="IsProsodyX" value="false" />
		<add key="WithRerouting" value="true" />
		<add key="ScriptTypes" value="PhoneCard,Residential,LD,aNumberRouting" />
		<add key="NumberOfAuthenticationRetries" value="2" />
		<add key="TestMode" value="false"/>
		<add key="TestTermIP" value="192.168.1.57"/>
		<add key="NumberOfModules" value="1" />
		<add key="TimeToWaitBeforeHWInit" value="1" />
		<add key="MaxNumberOfCallsPerModule" value="1" />
		<add key="MaxResourcesPerModule" value="75" />
		<add key="LocalDisplayName" value="Mundetel-IVR" />
		<add key="CredentialsRealm" value="timok.com" />
		<add key="CredentialsUser" value="Mundetel-IVR" />
		<add key="CredentialsPassword" value="ivr" />
		<add key="SupportedCodecTypes" value="0,18" />
		<!--
				#define ACU_PCMU_PAYLOAD_NUMBER 0
				#define ACU_PCMA_PAYLOAD_NUMBER 8
				#define ACU_G723_PAYLOAD_NUMBER 4
				#define ACU_G729_PAYLOAD_NUMBER 18
				#define ACU_G728_PAYLOAD_NUMBER 15
				#define ACU_GSM_PAYLOAD_NUMBER 3		
		/-->
		<add key="Volume" value="-4" />
		<add key="ThreadStackSize" value="524288" />
		<add key="MaxRecordingTime" value="120" />
	</ivrSettings>

	<udpSettings>
	<!-- Udp Server ports -->
    <add key="UdpServerRbrPort" value="8080" />
    <add key="UdpServerReportsPort" value="8090" />
		<!-- UdpServer Clients   -->
    <add key="Gk_InitialPortNumber" value="9000" />
    <add key="Gui_InitialPortNumber" value="10000" />
	</udpSettings>

	<emailSettings>
		<!-- Email Support-->
		<add key="SupportEmailServer" value="mail.timok.com" />
		<add key="SupportFrom" value="reports@timok.com" />
		<add key="SupportEmailPassword" value="reports" />
		<add key="SupportTo" value="support@timok.com" />

		<!-- Email Client-->
		<add key="ClientEmailServer" value="mail.timok.com" />
		<add key="ClientFrom" value="reports@timok.com" />
		<add key="ClientEmailPassword" value="reports" />
		<add key="ClientTo" value="support@timok.com" />
	</emailSettings>

		<dbSettings>
			<!-- TODO:  change how this is processed, it should not be part of the config file. it is machine dependant!-->
			<add key="NumberOfDbOpenRetries" value="180" />

			<!--HostIP="192.168.1.2-->
			<add key="ivs2" value="509055493" />

			<!--HostIP"192.168.1.8/-->
			<!--add key="ivs2" value="1012579907" /-->
 		
		<add key="RbrDbVersion" value="269" />
		<add key="CdrDbVersion" value="269" />

		<!-- READ ONLY KEY, updated programatically only -->
		<add key="CdrDbDependency" value="269" />
	</dbSettings>
</configuration>