<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.RbrDb_267ConnectionString"
            connectionString="Data Source=TIMOK-LPT\TRBR;Initial Catalog=RbrDb_267;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RbrData.Properties.Settings.RbrDb_267ConnectionString"
            connectionString="Data Source=TIMOK-LPT\TRBR;Initial Catalog=RbrDb_267;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RbrData.Properties.Settings.RbrDb_269ConnectionString"
            connectionString="Data Source=TIMOK-LPT\TRBR;Initial Catalog=RbrDb_269;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>